/* fontes importadas */

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #242424;
    font-family: 'Architects Daughter', cursive;
    font-size: larger;
    line-height: 32px;

}

body li {
    padding-top: 20px;
    list-style-image:url('imagens/bullet.svg');
}

h1 {
    font-family: 'Grand Hotel', cursive;
    font-weight: normal;
    font-size: 60px;
    padding: 20px;
    margin: 20px;
}

h2 {
    font-family: 'Grand Hotel', cursive;
    font-weight: normal;
    font-size: 45px;
    padding-top: 20px;
    margin-bottom: 20px;
}

header {
    background-color: #9c340a;
}

header a {
    color:white;
    text-decoration: none;
    padding: 10px;
}

header a:hover {
    color: rgb(226, 226, 92);
}

.menu {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px;
}

.container_fundo {
    height: 100yh;
    display: flex;
    flex-direction: column;
}

.container_conteudo {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 15%;
    color: #c6c6c6;
    position: absolute;
    left: 20%;
}

.bloco_apresentacao {
    padding-bottom: 50px;
}

.fileira {
    background-color: #4d4c4c;
    display: flex;
    flex-direction: row;
    border-radius: 20px;

}

.skills_classe {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;

}

.favsites_classe {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
}

.projetos_classe {
    text-align: center;
    padding: 20px;

}

.projetos_classe img {
    padding-top: 20px;
}

.projetos_classe a {
    padding: 10px;
}

.projetos_classe a:hover {
    filter:sepia(150%);
}

.container_conteudo a {
    color: rgb(243, 133, 129);
    text-decoration: none;
}

.container_conteudo a:hover {
    color: #eb855d;
    text-decoration: underline;
}

.foto_minha {

}

#capa {
    width: 100vw;
    margin-left: calc(-50vw 50%);
    margin-right calc(-50vw 50%);
}

#foto {
    width: 50%;
    border-radius: 50%;
    position: relative;
    left: 25%;
}

.descricao {
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
}
