/* fontes importadas */

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');



* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #242424;
    font-family: 'Architects Daughter', cursive;
    font-size: larger;
    line-height: 32px;

}

body li {
    padding-top: 20px;
    list-style-image:url('imagens/bullet.svg');
}

h1 {
    font-family: 'Grand Hotel', cursive;
    font-weight: normal;
    font-size: 60px;
    line-height: 65px;
    padding: 20px;
    margin: 20px;
}

h2 {
    font-family: 'Grand Hotel', cursive;
    font-weight: normal;
    font-size: 45px;
    line-height: 50px;
    padding-top: 20px;
    margin-bottom: 20px;
}

header {
    background-color: #9c340a;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header a {
    color:white;
    text-decoration: none;
    padding: 10px;
}

header a:hover {
    color: rgb(226, 226, 92);
}

.menu {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px;
}

.container_fundo {
    height: 100yh;
    display: flex;
    flex-direction: column;
}

.container_conteudo {
    display: flex;
    flex-direction: column;
    max-width: 940px;
    margin: 0 auto;
    margin-top: 20%;
    color: #c6c6c6;
    position: absolute;
    left: 4%;
    right: 4%;
    z-index: 0;
}

.bloco_apresentacao {
    margin-bottom: 50px;
}

#linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#fileira {
    width: 300px;
    background-color: #4d4c4c;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 20px;
    margin: 10px;

}

.skills_classe {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;

}

.favsites_classe {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

#desenho {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 20px;
    margin: 10px;
    width: 600px;

}

.projetos_classe {
    text-align: center;
    padding: 20px;

}

.projetos_classe img {
    padding-top: 20px;
}

.projetos_classe a {
    padding: 10px;
}

.projetos_classe a:hover {
    filter:sepia(150%);
}

.container_conteudo a {
    color: rgb(243, 133, 129);
    text-decoration: none;
}

.container_conteudo a:hover {
    color: #eb855d;
    text-decoration: underline;
}

.foto_minha {

}

#capa {
    width: 100%;
    max-width: 200%;
    margin-top: 62px;
}

#foto {
    width: 50%;
    border-radius: 50%;
    position: relative;
    left: 25%;
}

.descricao {
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
}
